<form name="signIn" action="/auth/signIn" method="post">
  Username:
  <input name="username" id="username" style="color: black" />
  Password:
  <input name="password" id="password" type="password" style="color: black" />
  <input type="submit" value="Sign up" />
</form>
